.main-modal {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  pointer-events: none;
  height: 100%;

  &__bg {
    opacity: 0;
    transition: all 0.2s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.5);
    // display: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    transition: all 0.4s ease-in-out;
    opacity: 0;
    font-family: "PT Root UI";
    text-align: left;
    position: relative;
    z-index: 60;
    background: white;
    height: auto;
    width: 526px;
    padding: 50px;

    @media (max-width: 550px) {
      width: 310px;
      padding: 25px;
    }

    .main-close-btn {
      position: absolute;
      top: -35px;
      right: 0;
      z-index: 60;
      background: transparent;
      img {
        width: 26px;
        height: 26px;
      }
    }
    .modal-title {
      font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1920 - 320)));

      font-weight: 700;
      line-height: 33.6px;
      margin-bottom: 20px;
    }

    .form-group-set {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 0;
      @media (max-width: 550px) {
        width: 310px;
        .form-group {
          width: 260px;
        }
        button {
          width: 260px;
        }
        .privacy {
          width: 260px;
        }
      }
      .form-group {
        width: 426px;
      }
      button {
        width: 426px;
      }

      .privacy {
        margin-top: 10px;
        width: 426px;
        font-size: calc(10px + (12 - 10) * ((100vw - 320px) / (1920 - 320)));

        font-weight: 300;
        line-height: 16.8px;
        color: #766e6c;
      }
    }
  }

  &.open {
    pointer-events: all;

    .main-modal__bg {
      opacity: 1;
    }

    .main-modal__content {
      opacity: 1;
    }
  }
}
.sended-modal {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  pointer-events: none;
  height: 100%;

  &__bg {
    opacity: 0;
    transition: all 0.2s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    transition: all 0.4s ease-in-out;
    opacity: 0;
    font-family: "PT Root UI";
    text-align: left;
    position: relative;
    z-index: 60;
    background: white;
    height: 185px;
    width: 526px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .sended-close-btn {
      position: absolute;
      top: -35px;
      right: 0;
      z-index: 60;
      background: transparent;
      img {
        width: 26px;
        height: 26px;
      }
    }
    .modal-title {
      font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1920 - 320)));

      font-weight: 700;
      line-height: 33.6px;
      margin-bottom: 30px;
    }

    p {
      font-family: "PT Root UI";
      font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (1920 - 320)));

      font-weight: 400;
      line-height: 19.2px;
      text-align: center;
      color: #766e6c;
    }
  }

  &.open {
    pointer-events: all;

    .sended-modal__bg {
      opacity: 1;
    }
    .sended-modal__content {
      opacity: 1;
    }
  }
}
