.nheader {
  width: 100vw;
  .wrapper {
    padding: 0;
    .blue-part {
      padding: 0 50px;
      height: 40px;
      background: #0a3878;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: "PT Root UI";
      font-size: 13px;
      font-weight: 500;
      line-height: 15.6px;
      text-align: left;
      color: white;
      .header-more-info {
        display: none;
      }
      .place-info {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: space-between;
        // margin-right: 15%;
        @media (max-width: 1450px) {
          width: 65%;
        }
        .info-part {
          margin-right: 15px;
          display: flex;
          align-items: center;
          gap: 5px;

          &:first-child {
            margin-right: 20px;
          }
        }
      }

      .contacts-info {
        height: 100%;
        display: flex;
        align-items: center;
        width: 30%;
        justify-content: space-between;

        .info-part {
          display: flex;
          align-items: center;
          gap: 5px;
          margin-right: 10px;
        }
        button {
          padding: 0;
          width: 138px;
          height: 26px;
        }
      }
    }

    .white-part {
      padding: 0 50px;
      height: 80px;
      background: white;
      display: flex;
      align-items: center;
      overflow-y: hidden;
      @media (max-width: 1450px) {
        .logo {
          margin-right: 80px;
        }
        .nav-and-button {
         
          .nav-pages {
            width: 58%;
          }
        }
      }
      .logo {
        margin-right: 140px;
      }
      .nav-and-button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header-more-info {
          // display: none;
          visibility: hidden;
          pointer-events: none;
        }
        .nav-pages {
          width: 45%;
          max-width: 678px;

          ul {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;

            li {
              display: flex;
              align-items: center;
              gap: 10px;
              p {
                font-family: "PT Root UI";
                font-size: 15px;
                font-weight: 500;
                line-height: 15.6px;
                text-align: left;
              }
              img {
                width: 10px;
                height: 10px;
              }
            }
          }
        }

        .form-group-header {
          position: relative;
          display: flex;
          width: 35%;
          img {
            position: absolute;
            width: 10px;
            height: 10px;
            bottom: 12px;
            left: 8px;
            z-index: 5;
          }
          input {
            position: relative;
            width: 80%;
            // width: 470px;
            border: 1px solid #766e6c;
            padding: 9px 0px;
            color: $dark-text;
            font-family: "PT Root UI";
            font-size: 12px;
            font-weight: 500;
            line-height: 14.4px;
            text-align: center;
          }

          button {
            background: #0a3878;
            color: white;
            font-family: "PT Root UI";
            font-size: 13px;
            font-weight: 500;
            line-height: 15.6px;
            text-align: left;
            padding: 10px 20px 10px 20px;
            border: none;
          }
        }
      }
    }

    .blue-part {
      &.h-footer {
        .work-type {
          color: white;
          display: flex;
          gap: 10px;

          @media (max-width: 1450px) {
            font-size: 12px;
            img {
              width: 10px;
            }
            gap: 5px;
          }
        }
      }
    }

    @media (max-width: 1100px) {
      .blue-part {
        display: none;
        .place-info {
          // .header-more-info {
          //   display: block;
          //   img {
          //     width: 40px;
          //     height: 40px;
          //   }
          // }
          .info-part {
            visibility: hidden;
            pointer-events: none;
          }
        }
        .contacts-info {
          width: 45%;
        }

        &.h-footer {
          .work-type {
            display: none;
          }
        }
      }
      .white-part {
        border-bottom: 1px solid #766e6c;
        .logo {
          position: absolute;
          z-index: 20;
          left: 0;
          width: 100%;
          background: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .nav-and-button {
          position: relative;
          justify-content: space-between;
          .header-more-info {
            // display: block;
            visibility: visible;
            pointer-events: all;
            img {
              height: 40px;
              width: 50px;
            }
          }
          .nav-pages {
            display: none;
          }
        }
      }
    }

    @media (max-width: 700px) {
      .white-part {
        .logo {
          justify-content: end;
          padding-right: 50px;
        }
        .nav-and-button {
          .form-group-header {
            display: none;
          }
        }
       
      }
    }
  }
}
