.nheader {
  width: 100vw;
  position: relative;
  .wrapper {
    padding: 0;
    .blue-part {
      padding: 0 50px;
      height: 40px;
      background: #0a3878;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: "PT Root UI";
      font-size: 13px;
      font-weight: 500;
      line-height: 15.6px;
      text-align: left;
      color: white;
      .header-more-info {
        display: none;
      }
      .place-info {
        display: flex;
        align-items: center;
        width: 50%;
        height: 100%;
        justify-content: space-between;
        min-width: 830px;
        @media (max-width: 1450px) {
          width: 65%;
          min-width: 0px;
        }
        .info-part {
          &.city {
            height: 100%;
          }
          position: relative;
          margin-right: 15px;
          display: flex;
          align-items: center;
          gap: 5px;
          .chosen-city {
            width: 180px;
          }
          p {
            font-family: "PT Root UI";
            font-size: 13px;
            font-weight: 500;
            line-height: 15.6px;
            text-align: left;
            span {
              font-family: "PT Root UI";
              font-size: 13px;
              font-weight: 700;
              line-height: 15.6px;
              text-align: left;
            }
          }
          &:first-child {
            margin-right: 20px;
          }
          &:hover {
            .dropdown-city {
              // visibility: visible;
              // pointer-events: all;
              display: flex;
              position: fixed;
              top: 35px;
              left: 0;
              z-index: 30;
              width: 267px;
              padding: 16px 50px 0px 50px;
              background: #0a3878;
              flex-direction: column;
              // @media (max-width: 1670px) {
              //   width: 170px;
              //   padding: 16px 25px 0 25px;
              // }
              // @media (max-width: 1450px) {
              //   width: 267px;
              //   padding: 16px 50px 0px 50px;
              // }

              // @media (max-width: 1308px) {
              //   width: 170px;
              //   padding: 16px 25px 0 25px;
              // }

              p {
                cursor: pointer;
                color: white;
                font-family: "PT Root UI";
                font-size: 13px;
                font-weight: 700;
                line-height: 16.38px;
                text-align: right;
                padding-bottom: 12px;
                border-bottom: 1px solid white;
                margin-bottom: 16px;

                &.active {
                  color: $button-background;
                }
              }
            }
          }
          .dropdown-city {
            display: none;
          }
        }
      }

      .contacts-info {
        height: 100%;
        display: flex;
        align-items: center;
        width: 30%;
        justify-content: space-between;

        button {
          padding: 0;
          width: 138px;
          height: 26px;
        }
      }
    }

    .white-part {
      z-index: 50;
      padding: 0 50px;
      height: 80px;
      background: white;
      display: flex;
      align-items: center;
      overflow-y: hidden;
      @media (max-width: 1450px) {
        .logo {
          margin-right: 80px;
        }
        .nav-and-button {
          .nav-pages {
            width: 58%;
          }
        }
      }
      .logo {
        margin-right: 140px;
        @media (max-width: 1100px) {
          display: none;
        }
      }
      .nav-and-button {
        z-index: 30;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
          display: none;
          @media (max-width: 1100px) {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .header-more-info {
          display: none;
        }
        .nav-pages {
          width: 45%;
          max-width: 678px;

          ul {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
          }
        }

        .form-group-header {
          display: flex;
          width: 545px;
          @media (max-width: 1700px) {
            max-width: 500px;
          }
          @media (max-width: 1500px) {
            max-width: 450px;
          }
          @media (max-width: 1450px) {
            max-width: 350px;
          }
          @media (max-width: 1300px) {
            max-width: 250px;
          }
          @media (max-width: 850px) {
            max-width: 200px;
          }
          .search-part {
            position: relative;
            display: flex;
            width: 100%;

            input {
              width: 80%;
              position: relative;
              border: 1px solid #766e6c;
              padding: 0px 25px;
              color: $dark-text;
              font-family: "PT Root UI";
              font-size: 12px;
              font-weight: 500;
              line-height: 14.4px;
              display: flex;
              justify-content: start;
              align-items: center;
            }
            .search-icon {
              position: absolute;
              width: 10px;
              height: 10px;
              bottom: 9px;
              left: 8px;
              z-index: 25;
            }
            .search-metall {
              background: #0a3878;
              display: flex;
              align-items: center;
              justify-content: center;
              border: none;
              width: 20%;
              min-width: 77px;
              height: 26px;
              &.to-close {
                background: $button-background;
                display: flex;
                align-items: center;
                justify-content: center;
                .img-close {
                  display: block;
                  width: 14px;
                  height: 14px;
                }
                span {
                  display: none;
                }
              }
              .img-close {
                display: none;
              }
              span {
                color: white;
                font-family: "PT Root UI";
                font-size: 13px;
                font-weight: 500;
                line-height: 15.6px;
                text-align: left;
                padding: 10px 20px 10px 20px;
                text-align: center;
              }
            }
          }
          .dropdown-search {
            &.active {
              display: flex;
            }
            display: none;
            position: absolute;
            width: 545px;
            top: 91px;
            padding: 20px 77px 20px 22px;
            flex-direction: column;
            z-index: 50;
            background: #0a3878;
            @media (max-width: 1700px) {
              width: 500px;
            }
            @media (max-width: 1500px) {
              width: 450px;
            }
            @media (max-width: 1450px) {
              width: 350px;
            }
            @media (max-width: 1300px) {
              width: 250px;
            }
            @media (max-width: 1100px) {
              top: 52px;
              padding: 20px 50px 15px 20px;
            }
            @media (max-width: 850px) {
              width: 200px;
            }

            p {
              cursor: pointer;
              color: white;
              font-family: "PT Root UI";
              font-size: 13px;
              font-weight: 700;
              line-height: 16.38px;
              text-align: left;
              padding-bottom: 12px;
              border-bottom: 1px solid white;
              margin-bottom: 16px;
            }
          }
        }
      }
    }

    @media (max-width: 1100px) {
      .blue-part {
        display: none;
        .place-info {
          .info-part {
            visibility: hidden;
            pointer-events: none;
          }
        }
        .contacts-info {
          width: 45%;
        }

        &.h-footer {
          .work-type {
            display: none;
          }
        }
      }
      .white-part {
        border-bottom: 1px solid #766e6c;

        .logo {
          display: none;
        }
        .nav-and-button {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          width: 100%;
          .header-more-info {
            display: block;
            justify-self: start;
            img {
              height: 40px;
              width: 50px;
            }
          }
          .nav-pages {
            display: none;
          }

          .form-group-header {
            justify-self: end;
          }
        }
      }
    }

    @media (max-width: 700px) {
      .white-part {
        .nav-and-button {
          grid-template-columns: repeat(2, 1fr);

          .form-group-header {
            display: none;
          }
          .logo {
            justify-content: end;
            margin-right: 0;
          }
        }
      }
    }
  }

  .mobile-part {
    &.active {
      @media (max-width: 1100px) {
        display: block;
      }
    }
    display: none;
    position: relative;
    z-index: 80;
    height: 100%;
    width: 100vw;
    background: white;
    padding: 50px;
    top: 0;
    left: 0;

    .contacts {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 30px;
      margin-bottom: 25px;
      padding-bottom: 25px;
      .info-part {
        font-size: 18px;
      }

      @media (max-width: 650px) {
        grid-template-columns: 1fr;
      }
    }
    .nav-pages {
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 30px;
        @media (max-width: 650px) {
          grid-template-columns: 1fr;
        }
      }
      margin-bottom: 25px;
      padding-bottom: 25px;
      border-bottom: 1px solid $dark-text;
    }

    .metall-types {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 30px;
      margin-bottom: 25px;
      padding-bottom: 25px;
      border-bottom: 1px solid $dark-text;
      @media (max-width: 650px) {
        grid-template-columns: 1fr;
      }
      .work-type {
        p {
          color: $dark-text;
        }
      }
    }
  }
}

.page-link {
  display: flex;
  align-items: center;
  gap: 10px;
  p {
    font-family: "PT Root UI";
    font-size: calc(13px + (15 - 13) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    line-height: 15.6px;
    text-align: left;
  }
  img {
    width: 10px;
    height: 10px;
  }
  @media (max-width: 1100px) {
    p {
      font-size: calc(15px + (22 - 15) * ((100vw - 320px) / (1920 - 320)));
    }
    img {
      width: 30px;
      height: 30px;
    }
  }
}

.info-part {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
  p {
    font-size: calc(10px + (12 - 10) * ((100vw - 320px) / (1920 - 320)));
  }
  @media (max-width: 1100px) {
    align-items: start;
    p {
      font-size: calc(15px + (22 - 15) * ((100vw - 320px) / (1920 - 320)));
    }

    img {
      width: 30px;
      height: 30px;
    }
  }
}

.work-type {
  color: white;
  display: flex;
  gap: 10px;
  height: 100%;
  align-items: center;
  position: relative;
  font-size: calc(10px + (12 - 10) * ((100vw - 320px) / (1920 - 320)));

  &:hover {
    .dropdown-work-type {
      display: flex;
    }
  }
  .dropdown-work-type {
    display: none;
    position: absolute;
    width: calc(100% + 40px);
    top: 40px;
    left: -20px;
    padding: 20px 22px 20px 22px;
    flex-direction: column;
    z-index: 50;
    background: #0a3878;
    p {
      cursor: pointer;
      color: white;
      font-family: "PT Root UI";
      font-size: 13px;
      font-weight: 700;
      line-height: 16.38px;
      text-align: left;
      padding-bottom: 12px;
      border-bottom: 1px solid white;
      margin-bottom: 16px;
    }
  }

  @media (max-width: 1450px) {
    img {
      width: 10px;
    }
    gap: 5px;
  }

  @media (max-width: 1100px) {
    p {
      font-size: calc(15px + (22 - 15) * ((100vw - 320px) / (1920 - 320)));
    }
  }
}
