.nfooter {
  display: block;
  &.hidden {
    @media (max-width: 1100px) {
      display: none;
    }
  }
  .nwrapper {
    padding: 100px 0px 50px 0px;
    @media (max-width: 850px) {
      padding-top: 50px;
    }
    .ncol-2 {
      .logo {
        margin-bottom: 192px;
        margin-top: -10px;
        a {
          img {
            width: 170px;
            height: 48px;
          }
        }
      }
      margin-left: 0;
    }

    .ncol-10 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .logo {
        display: none;
      }
      @media (max-width: 850px) {
        padding-right: 50px;
        align-items: center;
        .logo {
          display: block;
          margin-bottom: 25px;
          padding-bottom: 25px;

          width: 100%;
          border-bottom: 1px solid $dark-text;
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            img {
              width: 70%;
            }
          }
        }
      }
      @media (max-width: 450px) {
        padding-right: 25px;
      }
      .top-part {
        display: flex;
        @media (max-width: 850px) {
          flex-direction: column;
          align-items: center;
          margin-bottom: 25px;
          padding-bottom: 25px;
          border-bottom: 1px solid $dark-text;

          &__contacts {
            width: 100%;
            order: 1;
            text-align: center;
            margin-bottom: 25px;
            padding-bottom: 25px;
            .contacts__phone {
              margin-bottom: 24px;
            }

            .nbtn {
              height: 60px;
            }
            border-bottom: 1px solid $dark-text;
          }
          &__nav-list {
            row-gap: 30px;
            order: 2;
            margin-right: 0;
          }
        }
        &__nav-list {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          @media (max-width: 1250px) {
            display: flex;
            flex-wrap: wrap;
          }

          justify-content: space-between;
          font-family: "PT Root UI";
          font-size: calc(
            15px + (22 - 15) * ((100vw - 320px) / (1920 - 320))
          ) !important;
          font-weight: 500;
          line-height: 26.4px;
          text-align: left;
          margin-right: 125px;

          @media (max-width: 1450px) {
            column-gap: 50px;
            justify-content: start;
          }

          li {
            a {
              text-wrap: nowrap;
              &:hover {
                color: $button-background;
              }
            }
          }
        }

        &__contacts {
          .contacts {
            text-align: right;

            &__phone {
              font-family: "PT Root UI";
              font-size: calc(
                16px + (24 - 16) * ((100vw - 320px) / (1920 - 320))
              ) !important;
              font-weight: 700;
              line-height: 36px;
              margin-bottom: 48px;
              text-wrap: nowrap;
              text-align: right;
              a {
                color: $dark-text;
              }
              &:hover {
                a {
                  color: $button-background;
                }
              }
              @media (max-width: 850px) {
                text-align: center;
              }
            }

            &__email {
              display: block;
              font-family: "PT Root UI";
              font-size: calc(
                15px + (22 - 15) * ((100vw - 320px) / (1920 - 320))
              ) !important;
              font-weight: 700;
              line-height: 33px;
              text-align: right;
              margin-bottom: 24px;
              &:hover {
                color: $button-background;
              }
              @media (max-width: 850px) {
                text-align: center;
              }
            }

            .nbtn {
              // width: 211px;
              height: 50px;
              font-size: 16px;
              span {
                text-wrap: nowrap;
              }
            }
          }
        }
      }

      .bottom-part {
        .privacy-footer {
          &.top {
            display: none;
            @media (max-width: 850px) {
              display: block;
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }
}

.privacy-footer {
  font-family: "PT Root UI";
  font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 300;
  line-height: 19.6px;
  text-align: left;
  color: #1e110e;
}
