
.section-technologies-construction {
    // padding-top: 150px;
    // padding-bottom: 150px;
    margin-top:180px ;
    @include mq('xl') {
        padding-bottom: 120px;
    }
    @include mq('md') {
        padding-top: 120px;
        padding-bottom: 80px;
    }
    @include mq('sm') {
        padding-top: 80px;
    }
    .ncol-2 {
        .section-number {
            .section-number {
                margin-bottom: 80px;
            }
            p {
                margin-bottom: 480px;
            }

        }

    }
    .section-title {
        margin-bottom: 80px;
        display: flex;
        align-items: flex-end;
        @media only screen and (max-width: 1550px) {
            justify-content: space-between;
        }
        @include mq('lg') {
            flex-direction: column;
            margin-bottom: 40px;
        }
        h2 {
            width: 66.66%;
            padding-right: 20px;
            @media only screen and (max-width: 1550px) {
                width: calc(100% - 400px);
            }
            @include mq('lg') {
                width: 100%;
                margin-bottom: 40px;
            }
            @include mq('md') {
                margin-bottom: 0;
            }
        }
        .buttons {
            // width: 33.33%;
            width: auto;
            // margin-bottom: 5px;
            @include mq('lg') {
                width: 100%;
                margin: 0;
            }
            @include mq('md') {
                display: none;
            }
            .btn-icon {
                width: 100%;
                min-width: 300px;
                @include mq('lg') {
                    width: auto;
                }
            }
        }
        
    }
    .technologies-list {
        display: flex;
        row-gap: 30px;
        // column-gap: 20px;
        justify-content: space-between;
        @media only screen and (max-width: 1700px) {
            flex-wrap: wrap;
        }
        @include mq('sm') {
            flex-direction: column;
        }
        .item {
            // width: calc(20% - 16px);
            transition: .5s ease;
            animation-duration: 1s;
            background: red;
            @media only screen and (max-width: 1700px) {
                // width: calc(33.33% - 14px);
            }
            @include mq('xl') {
                width: calc(50% - 10px);
            }
            @include mq('sm') {
                width: 100%;
            }
            .link-wrap {
                color: $c-text;
                cursor: pointer;
                transition: .2s ease;
                .img {
                    height: 320px;
                    width: 320px;
                    @media only screen and (max-width: 1700px) {
                        height: 260px;
                    }
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                p {
                    font-size: 22px;
                    line-height: 1.2;
                    padding-right: 10px;
                    margin: 20px 0 0 0;
                }
            }
            &:hover {
                @media only screen and (min-width: 1700px) {
                    width: 25%;
                }
                @include mq('sm', min) {
                    .link-wrap {
                        color: $c-primary;
                    }
                }
            }
        }
    }
    .buttons-mobile {
        display: none;
        margin-top: 40px;
        @include mq('md') {
            display: block;
        }
        .btn-icon {
            width: 100%;
        }
    }
}