.section-map {
  height: 100%;
  width: 100% !important;
  overflow: hidden;
 
  .map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% + 35px);
    font-size: 24px;
    background-color: #e3e3e3;
    [class*="ymaps-2"][class*="-ground-pane"] {
      filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale1'><feColorMatrix type='matrix' values='0.3 0 0 0 0 0 0.3 0 0 0 0 0 0.3 0 0 0 0 0 1 0'/></filter></svg>#grayscale1");
      -webkit-filter: grayscale1(100%);
    }
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}
