.home .l-main-wrapper {
  overflow: hidden;
}

// .section-intro {
//   .wrapper {
//     .row {
//       width: 100%;
//       .col-10 {
//         padding: 0;
//         display: block;
//       }
//     }
//   }
//   grid-area: "intro";
//   padding: 0px 0 0 0;
//   height: 100vh;
//   min-height: 500px;
//   @include mq("xl") {
//     height: auto;
//     margin-bottom: 120px;
//   }
//   @include mq("lg") {
//     height: auto;
//     margin-bottom: 80px;
//   }
//   @include mq("md") {
//     position: relative;
//     margin-bottom: 40px;
//     min-height: 320px;
//   }
//   h1 {
//     font-weight: 700;
//   }
//   .col-2 {
//     display: flex;
//     align-items: flex-end;
//     @include mq("md") {
//       display: none;
//     }
//   }
//   .col-10 {
//     display: flex;
//     @include mq("xl") {
//       flex-wrap: wrap;
//       flex-direction: column;
//       column-gap: 20px;
//       position: relative;
//     }
//   }
//   .background {
//     background-image: url(../images/home-bg.webp);
//     width: 100%;
//     position: absolute;
//     top: -120px;
//     height: calc(100% + 120px);
//     z-index: 0;
//     filter: brightness(0.7);
//     display: none;
//     @include mq("md") {
//       display: block;
//     }
//   }
//   .section-title {
//     position: relative;
//     z-index: 1;
//     width: 100%;
//     display: flex;
//     h1 {
//       margin-right: 90px;
//     }
//     .bg-p {
//       width: 645px;
//       height: 198px;
//       background-color: rgb(30, 17, 14, 0.9);
//       p {
//         display: block;
//         width: 645px;
//         height: 198px;
//         padding: 30px;

//         font-family: "PT Root UI";
//         font-size: 18px;
//         font-weight: 500;
//         line-height: 23.4px;
//         text-align: left;
//         color: white;
//       }
//     }
//   }

//   .intro-form {
//     position: relative;
//     z-index: 5;
//     display: flex;
//     background-color: white;
//     width: 100%;
//     .form-info {
//       color: $dark-text;
//       padding: 40px;
//       h3 {
//         font-family: PT Root UI;
//         font-size: 28px;
//         font-weight: 500;
//         line-height: 33.6px;
//         text-align: left;
//       }

//       p {
//         font-family: PT Root UI;
//         font-size: 18px;
//         font-weight: 500;
//         line-height: 23.4px;
//         text-align: left;
//       }
//     }
//     form {
//       // width: 1540px;
//       width: 100%;
//       height: 200px;

//       .form-group-set {
//         width: 100%;
//         padding: 30px 50px;
//         display: grid;
//         grid-template-columns: 1fr 1fr 1fr 1fr;
//         column-gap: 30px;
//         .form-group {
//           color: $dark-text;
//           max-width: 300px;

//           &:nth-child(3) {
//             max-width: 450px;
//           }
//           .form-control {
//             width: 100%;
//             color: $dark-text;
//             background-color: transparent;
//             border: 2px solid $dark-text;
//           }
//         }

//         .button-and-privacy {
//           margin-top: 36px;
//           p {
//             color: $dark-text;
//           }
//           a {
//             color: $dark-text;
//           }
//         }
//       }
//     }
//   }
// }
// .block-audio {
//   h4 {
//     font-size: 18px;
//     line-height: 1.3;
//     font-weight: 400;
//     margin-bottom: 35px;
//     @media only screen and (max-width: 1550px) {
//       font-size: 16px;
//     }
//     @include mq("xl") {
//       font-size: 14px;
//     }
//   }
//   .btn-play {
//     @media only screen and (max-width: 1350px) {
//       flex-direction: column;
//     }
//     i {
//       @media only screen and (max-width: 1350px) {
//         margin: 0 0 10px 0;
//       }
//     }
//     span {
//       font-size: 18px;
//     }
//   }
// }
// .main-img {
//   width: 100%;
//   padding-right: 20px;
//   @include mq("xl") {
//     width: 90%;
//     padding-right: 0;
//   }
//   @include mq("lg") {
//     width: 100%;
//   }
//   @include mq("md") {
//     // margin-bottom: 40px;
//   }
//   // @media only screen and (max-width: 1550px) {
//   //     width: calc(100% - 400px);
//   // }
//   .section-title {
//     // height: 130px;
//     display: flex;
//     align-items: flex-end;
//     padding-top: 120px;
//     @include mq("xl") {
//       padding-top: 0px;
//     }
//     // @media only screen and (max-width: 1750px) {
//     //     height: 110px;
//     // }
//     // @media only screen and (max-width: 1550px) {
//     //     height: 150px;
//     // }
//     // @media only screen and (max-width: 1400px) {
//     //     height: 180px;
//     // }
//     // @include mq('xl') {
//     //     height: 200px;
//     // }
//     @include mq("lg") {
//       height: auto;
//       align-items: flex-start;
//       flex-direction: column;
//     }
//     @include mq("md") {
//       margin-bottom: 0px;
//     }
//     h1 {
//       @include mq("sm") {
//         font-size: 28px;
//       }
//     }
//   }
//   .video-wrap {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100vh;
//     overflow: hidden;
//     z-index: 0;
//     filter: brightness(0.7);
//     // position: relative;
//     // height: 480px;
//     // overflow: hidden;
//     @include mq("xl") {
//       // height: 400px;
//       top: -120px;
//       left: -26%;
//       width: 105vw;
//       height: calc(100% + 120px);
//     }
//     @include mq("md") {
//       // height: 300px;
//       left: -10px;
//       width: 100vw;
//       display: none;
//     }
//     @include mq("sm") {
//       // height: 300px;
//     }
//     .video-container {
//       display: block;
//       width: 100%;
//       height: 100%;
//       background-repeat: no-repeat;
//       background-position: center;
//       background-size: cover;
//       // video {
//       //     @media only screen and (max-width: 1550px) {
//       //         transform: translateX(-10%);
//       //     }
//       //     @include mq('xl') {
//       //         transform: translateX(0);
//       //     }
//       //     @media only screen and (max-width: 440px) {
//       //         transform: translateX(-20%);
//       //     }
//       // }
//     }
//     .btn-play {
//     }
//   }
// }
// .main-info {
//   padding-top: 120px;
//   width: 40%;
//   @include mq("xl") {
//     max-width: 750px;
//     width: 100%;
//     padding-top: 40px;
//   }
//   @include mq("xl") {
//     display: flex;
//     flex-direction: column;
//     margin-bottom: 60px;
//   }
//   @include mq("lg") {
//     // display: none;
//   }

//   .section-title {
//     height: 130px;
//     display: flex;
//     align-items: flex-end;
//     @media only screen and (max-width: 1750px) {
//       height: 110px;
//     }
//     @media only screen and (max-width: 1550px) {
//       height: 150px;
//     }
//     @include mq("xl") {
//       height: 200px;
//     }
//     @include mq("lg") {
//       display: none;
//     }
//   }
//   .props-grid {
//     @include mq("xl") {
//       gap: 20px;
//     }
//     @include mq("md") {
//       gap: 0px;
//     }
//   }
// }

// .props-grid {
//   display: flex;
//   flex-wrap: wrap;
//   @include mq("xl") {
//     width: 100%;
//     flex: 1;
//   }
//   .item {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     width: 50%;
//     @include mq("xl") {
//       width: calc(50% - 10px);
//     }
//     @include mq("md") {
//       width: 50%;
//     }
//     &:nth-child(1) {
//       // @include mq('xl') {
//       //     width: 100%;
//       // }
//       a {
//         border-right: 1px solid rgba(255, 255, 255, 0.15);
//         border-bottom: 1px solid rgba(255, 255, 255, 0.15);
//         @include mq("xl") {
//           height: 100%;
//         }
//         // &:hover {
//         //     .icon {
//         //         svg {
//         //             transform: scale(1.03);
//         //         }
//         //     }
//         // }
//       }
//     }
//     &:nth-child(2) {
//       // @include mq('xl') {
//       //     display: none;
//       // }
//       a {
//         border-bottom: 1px solid rgba(255, 255, 255, 0.15);
//         // &:hover {
//         //     .icon {
//         //         svg {
//         //             path {
//         //                 &.spin {
//         //                     transition-delay: 10s;
//         //                     transform: rotate(360deg);
//         //                 }
//         //             }
//         //         }
//         //     }
//         // }
//       }
//     }
//     &:nth-child(3) {
//       // @include mq('xl') {
//       //     display: none;
//       // }
//       a,
//       & > div {
//         border-bottom: 1px solid rgba(255, 255, 255, 0.15);
//         border-right: 1px solid rgba(255, 255, 255, 0.15);
//       }
//     }
//     &:nth-child(4) {
//       // @include mq('xl') {
//       //     display: none;
//       // }
//       .icon {
//         img {
//           width: 56px;
//           height: 56px;
//           @media only screen and (max-width: 450px) {
//             width: 44px;
//             height: 44px;
//           }
//         }
//       }
//     }
//     a,
//     & > div {
//       display: flex;
//       flex-direction: column;
//       height: 100%;
//       height: 240px;
//       padding: 30px;
//       cursor: pointer;
//       background-color: #505050;
//       @media only screen and (max-width: 1550px) {
//         padding: 30px 25px;
//       }
//       @include mq("md") {
//         .text {
//           padding-bottom: 30px;
//           .link {
//             opacity: 0.5;
//           }
//         }
//       }
//       @include mq("md", min) {
//         &:hover {
//           background-color: rgba(80, 80, 80, 0.9);
//           .icon {
//             img {
//               transform: scale(1.05);
//             }
//           }
//           .text {
//             padding-bottom: 30px;
//             .link {
//               opacity: 0.5;
//             }
//           }
//         }
//       }
//     }
//     .icon {
//       display: block;
//       svg {
//         width: 64px;
//         height: 64px;
//         transition: 0.2s ease;
//         @media only screen and (max-width: 450px) {
//           width: 54px;
//           height: 54px;
//         }
//         path {
//           transition: 0.2s ease;
//         }
//       }
//       img {
//         display: block;
//         width: 64px;
//         height: 64px;
//         object-fit: contain;
//         transition: 0.2s ease;
//         @media only screen and (max-width: 450px) {
//           width: 54px;
//           height: 54px;
//         }
//       }
//     }
//     .text {
//       position: relative;
//       display: flex;
//       flex-direction: column;
//       justify-content: flex-end;
//       flex: 1;
//       transition: 0.2s ease;
//       p {
//         font-size: 18px;
//         line-height: 1.2;
//         color: #fff;
//         @media only screen and (max-width: 1550px) {
//           font-size: 16px;
//         }
//         @include mq("sm") {
//           font-size: 14px;
//         }
//       }
//       .link {
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         display: inline-flex;
//         align-items: center;
//         font-size: 16px;
//         color: #fff;
//         line-height: 1.1;
//         opacity: 0;
//         transition: 0.2s ease;
//         @media only screen and (max-width: 1550px) {
//           font-size: 14px;
//         }
//         span {
//           white-space: nowrap;
//           max-width: calc(100% - 20px);
//         }
//         i {
//           display: block;
//           width: 10px;
//           height: 10px;
//           margin-left: 10px;
//           background: svg-load("../../images/svg/arrow-right.svg", fill=#fff)
//             no-repeat center;
//           background-size: contain;
//         }
//       }
//     }
//   }
// }

// .props-grid-mobile {
//   display: none;
//   column-gap: 20px;
//   row-gap: 20px;
//   margin-top: 20px;
//   width: 100%;
//   @include mq("xl") {
//     // display: flex;
//   }
//   @include mq("md") {
//     row-gap: 0;
//     column-gap: 0;
//     margin-top: 0;
//   }
//   .item {
//     width: calc(33.33% - 14px) !important;
//     &:nth-child(4) {
//       display: none !important;
//     }
//     @include mq("xl") {
//       display: flex !important;
//     }
//     @include mq("lg") {
//       width: calc(50% - 10px) !important;
//       &:nth-child(4) {
//         display: flex !important;
//       }
//     }
//     @include mq("md") {
//       width: 50% !important;
//     }
//   }
// }

// .section-intro .section-title h1 {
//   color: white;
//   font-weight: 700;
// }

.section-intro {
  // background:  no-repeat center;
  // background-image: url("../../../images/intro-bg.jpg");
  background-color: red;
  background-size: cover;
  height: 730px;
  padding-top: 88px;
  padding-bottom: 80px;
  .nwrapper {
    .ncol-10 {
      .intro-title {
        display: flex;
        margin-bottom: 86px;
        h1 {
          font-family: "PT Root UI";
          font-size: 50px;
          font-weight: 700;
          line-height: 60px;
          text-align: left;
          color: white;
          margin-right: 90px;
        }
        .bg-p {
          width: 645px;
          height: 198px;
          opacity: 0.9px;
          background: $dark-text;
          opacity: 0.9;
          padding: 30px;
          p {
            font-family: "PT Root UI";
            font-size: 18px;
            font-weight: 500;
            line-height: 23.4px;
            text-align: left;
            color: #f9f9f9;
          }
        }
      }

      .intro-form {
        width: 100%;
        background: #f9f9f9;
        display: flex;
        .info {
          padding: 40px;
          width: 20%;
          border-right: 1px solid $dark-text;
          h3 {
            font-family: "PT Root UI";
            color: $dark-text;
            font-size: 28px;
            font-weight: 500;
            line-height: 33.6px;
            text-align: left;
            margin-bottom: 36px;
          }

          p {
            font-family: "PT Root UI";
            font-size: 18px;
            font-weight: 500;
            line-height: 23.4px;
            text-align: left;
            color: #766e6c;
          }
        }
        @media only screen and (max-width: 1550px) {
            .info {
                width: 320px;
            }
        }
        .form-group-set {
          width: 80%;
          padding-left: 102px;
          padding-top: 20px;
          padding-right: 50px;
          display: grid;
          grid-template-areas:
            "search search search"
            "city number submit";
          row-gap: 22px;
          column-gap: 50px;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, auto);

          button {
            margin-top: 35px;
          }
        }
      }
    }
  }
}
