.section-contact-map {
  .nwrapper {
    background: white;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-areas: "contacts map";
    column-gap: 10%;
    height: auto;
    &.hidden {
      display: none;
    }
    @media (max-width: 1450px) {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "map"
        "contacts";
    }
    .contacts {
      display: flex;
    }
    .map {
      margin-left: -50px;
      @media (max-width:1450px) {
        margin-left: 0;
      }
    }
  }
}
