//-----------------------------------
//   Variables
//-----------------------------------

// Colors
$c-primary: #2E4056;
$c-primary-1: #113CA4;
$c-danger: #fe3f3f;
$c-text: #343434;
$c-primary-dark: #1D2332;


$dark-text: #1E110E;
$light-text:  #F9F9F9;
$button-background: #FF3000;
$bg-color: #F9F9F9;
$t-color: #343434;
// Fonts



// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;

