//-----------------------------------
//   Base styles
//-----------------------------------

html,
body {
  scrollbar-color: $c-primary transparent;
  scrollbar-width: thin;
}

html {
  font-size: 16px;
  height: 100%;
}
body {
  background-color: #f9f9f9;
  font-size: 100%;
  height: 100%;
  font-family: "Stolzl", sans-serif;
  color: $c-text;
  &.is-overflow {
    overflow: hidden !important;
  }
  &.modal-open {
    .header {
      @media only screen and (min-width: 576px) {
        right: 6px;
      }
    }
  }
}
a {
  color: $c-primary;
  text-decoration: none;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  transition: 0.2s ease;
  &:hover {
    text-decoration: none;
    color: $c-primary;
  }
}
input,
textarea,
button {
  outline: none;
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // appearance: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: none;
}
//
body {
  overflow-x: hidden;
}


//
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
ul,
li,
p {
  margin: 0;
  padding: 0;
  ///
  list-style-type: none;
}

::selection {
  color: #fff;
  background: rgba($c-primary, 0.6);
}

::-webkit-scrollbar {
  width: 6px;
  height: 3px;
  background-color: #f9f9f9;
}
::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}
::-webkit-scrollbar-thumb {
  background-color: $c-primary;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $c-primary;
}

.clearfix {
  clear: both;
}

.l-main-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  // overflow: hidden;
}
.l-main {
  height: 100%;
  display: table-row;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1920px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  @media only screen and (max-width: 991px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  .col-2 {
    width: 15%;
    @media only screen and (max-width: 1550px) {
      width: 14%;
    }
    @media only screen and (max-width: 1350px) {
      .btn-play {
        flex-direction: column;
        i {
          margin: 0 0 15px 0;
        }
        span {
          font-size: 18px;
        }
      }
    }
    @media only screen and (max-width: 767px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .col-10 {
    width: 85%;
    padding-left: 50px !important;
    @media only screen and (max-width: 1550px) {
      width: 82%;
      padding-left: 40px !important;
    }
    @media only screen and (max-width: 767px) {
      width: 100%;
      padding-left: 20px !important;
    }
  }
  .row {
    margin-left: -20px;
    margin-right: -20px;
  }
  .row > * {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.pt-0 {
  padding-top: 0 !important;
}
.pt-30 {
  padding-top: 30px !important;
}
