.nwrapper {
  width: 100vw;
  max-width: 1920px;
  height: auto;
  display: flex;
  .ncol-2 {
    width: 15%;
    height: auto;
    @media only screen and (max-width: 1550px) {
      width: 14%;
    }
    @media only screen and (max-width: 1350px) {
      .btn-play {
        flex-direction: column;
        i {
          margin: 0 0 15px 0;
        }
        span {
          font-size: 18px;
        }
      }
    }
    @media only screen and (max-width: 767px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .ncol-10 {
    width: 80%;
    padding-right: 50px;
    height: auto;
  }
}
