.form-group-set {
  &.dark {
    color: $dark-text;
    input {
      border: 2px solid #1e110e;
    }
  }

  &.light {
    color: white;
    input {
      border: 2px solid white;
    }
  }

  .form-group {
    input {
      width: 100%;
      height: 50px;
      background-color: transparent;
      font-size: 16px;
      line-height: 1.2;
      border-radius: 0;
      transition: 0.2s ease;
    }

    label {
      font-size: 18px;
      line-height: 1.1;
      transition: 0.2s ease;
      white-space: nowrap;
      margin-bottom: 15px;
    }
  }

  button {
    width: 100%;
  }
}

.form-group-set {
  padding: 0px 20px 0px 20px;

  &:focus {
    box-shadow: none;
  }
}

.form-group {
  font-family: "PT Root UI";
  font-family: PT Root UI;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: left;

  input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    font-size: 16px;
    line-height: 1.2;
    border-radius: 0;
    transition: 0.2s ease;
  }

  label {
    font-size: 18px;
    line-height: 1.1;
    transition: 0.2s ease;
    white-space: nowrap;
    margin-bottom: 15px;
  }
}

.nbtn {
  width: 100%;
  padding: 10px 20px 10px 20px;
  background: #ff3000;
  color: white;
  border: none;
  outline: none;
}

.p-arrow {
  display: flex;
  width: 100%;
  align-items: center;
  p {
    font-family: "PT Root UI";
    font-size: 22px;
    font-weight: 500;
    line-height: 26.4px;
    text-align: left;
    color: $dark-text;
    margin-right: 6px;
  }
  img {
    object-position: center;
  }
}

.text-red {
  color: $button-background;
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: left;
}
.number-btns {
  display: flex;
  gap: 10px;
  .action {
    color: $button-background;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $dark-text;
    font-weight: 700;
  }

  .number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 25px;
    color: $dark-text;
    border: 1px solid $dark-text;
    font-family: "PT Root UI";
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: center;
  }
}
.section-title {
  font-family: "PT Root UI";
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
  color: $t-color;

  @media (max-width: 1100px) {
    font-size: 40px;
  }
}
.attetion-p {
  color: $button-background;
}

.gray-text {
  font-family: "PT Root UI";
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
  color: #766e6c;
}

.pages-navigation {
  display: flex;
  justify-content: space-between;
  &__numbers {
    display: flex;
    &-block {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 9px;

      &:first-child {
        img {
          transform: rotate(90deg);
        }
        border: 2px solid $dark-text;
      }

      &:last-child {
        img {
          transform: rotate(-90deg);
        }
        border: 2px solid $dark-text;
      }

      &.active {
        color: $button-background;
      }
      &.last {
        border: 2px solid $dark-text;
      }
    }
  }

  &__info {
    span {
      color: $button-background;
    }
  }
}

.product-types {
  color: white;

  .product-type {
    padding: 15px 19px;
    position: relative;
    .type-title {
      display: flex;
      justify-content: space-between;
      h4 {
        font-family: "PT Root UI";
        font-size: 16px;
        font-weight: 700;
        line-height: 20.16px;
        text-align: left;
        color: $dark-text;
      }
      img {
        transform: rotate(-90deg);
      }
    }
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 1px;
      background: hsla(12, 4%, 44%, 0.302);
    }
    &:first-child {
      background: #0a3878;
      h4 {
        margin-bottom: 20px;
        color: white;
      }
      .type-title {
        img {
          transform: rotate(0deg);
        }
      }
    }
  }
}

.link {
  border-bottom: 1px solid #f9f9f9;
  display: flex;
  height: 40px;
  align-items: center;
  p {
    color: white;
    font-family: "PT Root UI";
    font-size: 13px;
    font-weight: 400;
    line-height: 15.6px;
    text-align: left;
  }
}

.contact-type {
  display: flex;
  flex-direction: column;
  padding: 40px;
  font-family: "PT Root UI";
  text-align: left;
  width: 320px;
  height: 287px;
  background: white;

  &__title {
    flex: 1 0 auto;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    margin-bottom: 30px;
  }
  &__info {
    flex: 1 0 auto;

    font-size: 18px;
    font-weight: 500;
    line-height: 23.4px;
    margin-bottom: 30px;
  }

  button {
    flex: 0 0 auto;
    background: white;
    border: 1px solid #1e110e;
    color: $button-background;
    width: 240px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: center;
  }
}

.bread-crumbs {
  margin: 39px 0 30px 0;
  display: flex;
  p {
    font-family: "PT Root UI";
    font-size: 16px;
    font-weight: 400;
    line-height: 20.16px;
    text-align: left;

    &:last-child {
      color: $button-background;
    }
  }
}
