

.page-contacts {
    // .page-title-block {
    //     // display: flex;
    //     margin-bottom: 40px;
    // }

    .section-title-mobile {
        display: none;
        margin-bottom: 40px;
        @include mq('xl') {
            display: block;
        }
        .breadcrumbs {
            margin-bottom: 30px;
            @include mq('sm') {
                margin-bottom: 20px;
            }
        }
    }
    .content {
        &-wrap {
            display: flex;
            // padding-bottom: 150px;
            @include mq('xl') {
                flex-direction: column-reverse;
            }
            // @include mq('md') {
            //     padding-bottom: 100px;
            // }
            // @include mq('sm') {
            //     padding-bottom: 80px;
            // }
        }
        &-info {
            width: 50%;
            padding: 0 100px 150px 0;
            @media only screen and (max-width: 1550px) {
                padding-right: 70px;
            }
            // @include mq('xl') {
            //     flex-direction: column;
            // }
            @include mq('xl') {
                order: 2;
                width: 100%;
                padding: 40px 0 100px 0;
            }
            @include mq('sm') {
                padding: 30px 0 80px 0;
            }
            .section-title-desktop {
                @include mq('xl') {
                    display: none;
                }
                .breadcrumbs {
                    margin-bottom: 40px;
                }
            }
            .phone {
                margin-bottom: 30px;
                @include mq('md') {
                    margin-bottom: 20px;
                }
                a {
                    font-size: 38px;
                    line-height: 1.2;
                    color: $c-text;
                    font-weight: 400;
                    // @media only screen and (max-width: 1350px) {
                    //     font-size: 26px;
                    // }
                    @include mq('md') {
                        font-size: 28px;
                    }
                    i {
                        color: $c-primary;
                        font-style: normal;
                    }
                    span {
                        font-size: 28px;
                        @include mq('md') {
                            font-size: 20px;
                        }
                    }
                    &:hover {
                        color: $c-primary;
                    }
                }
            }
            .email {
                margin-bottom: 50px;
                @include mq('md') {
                    margin-bottom: 40px;
                }
                a {
                    font-size: 30px;
                    line-height: 1.2;
                    color: $c-text;
                    font-weight: 400;
                    @include mq('md') {
                        font-size: 24px;
                    }
                    span {
                        color: $c-primary;
                    }
                    &:hover {
                        color: $c-primary;
                    }
                }
            }
            .address {
                margin-bottom: 50px;
                max-width: 350px;
                @include mq('md') {
                    margin-bottom: 40px;
                }
                p {
                    font-size: 20px;
                    line-height: 1.3;
                    @include mq('md') {
                        font-size: 18px;
                    }
                }
            }
            .schedule {
                margin-bottom: 60px;
                @include mq('md') {
                    margin-bottom: 40px;
                }
                p {
                    font-size: 20px;
                    line-height: 1.3;
                    margin-bottom: 20px;
                    @include mq('md') {
                        font-size: 18px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    strong {
                        font-weight: 500;
                    }
                }
            }
            .buttons {
                display: flex;
                column-gap: 20px;
                row-gap: 20px;
                margin-bottom: 80px;
                @media only screen and (min-width: 1200px) and (max-width: 1550px) {
                    flex-direction: column;
                }
                @include mq('md') {
                    flex-direction: column;
                    margin-bottom: 40px;
                }
                .btn-icon {
                    width: calc(50% - 10px);
                    @media only screen and (max-width: 1550px) {
                        width: 300px;
                    }
                    @include mq('sm') {
                        width: 100%;
                    }
                }
            }
            .bottom-text {
                & > p {
                    margin-bottom: 20px;
                }
                p {
                    font-size: 20px;
                    line-height: 1.3;
                    strong {
                        font-weight: 500;
                    }
                }
                & > div {
                    display: flex;
                    row-gap: 20px;
                    justify-content: space-between;
                    flex-direction: column;
                    // @media only screen and (min-width: 1200px) and (max-width: 1550px) {
                    //     flex-direction: column;
                    // }
                    // @include mq('md') {
                    //     flex-direction: column;
                    // }
                }
                
            }
            
        }
        &-map {
            width: 50%;
            @include mq('xl') {
                order: 1;
                height: 500px;
                margin-bottom: 40px;
                width: calc(100% + 100px);
                margin: 0 0 0 -50px;
                overflow: hidden;
            }
            @include mq('md') {
                margin-left: -30px;
                width: calc(100% + 60px);
            }
            .map {
                height: calc(100% + 75px);
                width: calc(100% + 50px);
                margin-top: -50px;
                @include mq('xl') {
                    height: calc(100% + 25px);
                    margin: 0;
                    width: 100%;
                }
                // @include mq('md') {
                //     margin-left: -30px;
                //     width: calc(100% + 60px);
                // }
            }
        }
    }
}