.page-perforation-metall {
  padding: 0 50px;
  padding-bottom: 100px;
  .section-title {
    margin-bottom: 60px;
  }
  .perforation-body {
    display: flex;
    .img-and-button {
      display: flex;
      flex-direction: column;
      margin-right: 116px;
      align-items: end;
      img {
        width: 684px;
        height: 424px;
        margin-bottom: 40px;
      }
      button {
        width: 404px;
      }
    }
    p {
      width: 788px;
    }
  }
}
