
.page-blog {
  padding-top: 150px;
  @include mq('lg') {
		padding-top: 100px;
	}

  .breadcrumbs {
    margin-bottom: 40px;
  }
  .wrapper {
    .row {
      .col-10 {
        @include mq('xl') {
          width: 100%;
          padding-left: 20px !important;
        }
      }
    }
  }
}

.page-blog .portfolio-filter {
  
  margin-top: 60px;
  @include mq('xl', min) {
    position: sticky;
    top: 130px;
  }
  .list {
    max-height: calc(100vh - 210px);
    overflow-x: hidden;
    .item {
      width: fit-content;
      // min-width: 240px;
      width: 100%;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.1;
      color: $c-text;
      cursor: pointer;
      @media screen and (max-width: 1350px) {
        min-width: 100%;
      }
      @include mq('xl') {
        min-width: 175px;
        font-size: 14px;
      }
      &:hover {
        color: #fff;
      }
    }
  }
}

.page-blog .portfolio-filter-mobile {
  display: none;
  @include mq('xl') {
    display: block;
  } 

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .item {
      margin-bottom: 0;
    }
  }
}

.blog-head {
  @include mq('xl') {
    width: 100%;
  }
  
}

.blog-grid-head {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media screen and (max-width: 1450px) {
    grid-template-columns: 1fr;
  } 

  // @include mq('xl') {
  //   grid-template-columns: repeat(3, 1fr);
  // } 

  @media screen and (max-width: 1150px) {
    grid-template-columns: 1fr;
  } 

  gap: 25px;
  > *:nth-child(1) {
    grid-column: 1 / 3;
  }

  .video-wrap {
    overflow: hidden;
    .video-container {
      display: block;
      height: 100%;
      .btn-play {
        display: flex;
        width: 110px;
        height: 110px;
      }
      &:hover {
        .btn-play {
          i {
            background-color: $c-primary;
            background-image: svg-load('../../images/svg/play.svg', fill=#fff);
          }
        }
      }
    }
    .big-img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .text {
    .title {

    }
    .excerpt {
      // @media screen and (max-width: 1450px) {
      //   margin-bottom: 50px;
      // }
    }
    .btn-icon {
      min-width: 300px;
      span {
        justify-content: flex-start;
      }
    }
  }
}

.blog-flex-sb {
  display: flex;
  justify-content: space-between;
}

.blog-flex-sb-aie {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.blog-flex-sb-aic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-mw-500 {
  max-width: 700px;
}

.blog-mb-1450-165 {
   @media screen and (max-width: 1450px) and (min-width: 1200px) {
    margin-bottom: 105px;
  } 

  @media screen and (max-width: 1100px) {
    margin-bottom: 105px;
  } 
}

.blog-flex-title {
  @media screen and (max-width: 1450px) and (min-width: 1200px) {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  } 

  @media screen and (max-width: 1050px) {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  } 
}

.blog-hide-1450-xl {
  @media screen and (max-width: 1450px) and (min-width: 1200px) {
    display: none;
  } 
}

.blog-hide-1450 {
  @media screen and (max-width: 1450px) {
    display: none;
  } 
}

.blog-hide-1150 {
  @media screen and (max-width: 1150px) {
    display: none;
  } 
}

.blog-hide-xxl {
  @include mq('xxl'){
    display: none;
  } 
}

.blog-hide-xl {
  @include mq('xl'){
    display: none;
  } 
}

.blog-hide-md {
  @include mq('md'){
    display: none;
  } 
}

.blog-hide-sm {
  @include mq('sm'){
    display: none;
  } 
}

.blog-show-1450 {
  display: none;
  @media screen and (max-width: 1450px) {
    display: block;
  } 
}

.blog-show-1450-xl {
  display: none;
  @media screen and (max-width: 1450px) and (min-width: 1200px) {
    display: block;
  } 
}

.blog-show-xl {
  display: none;
  @include mq('xl') {
    display: block;
  } 
}

.blog-show-1150 {
  display: none;
  @media screen and (max-width: 1150px) {
    display: block;
  } 
}

.blog-show-md {
  display: none;
  @include mq('md'){
    display: block;
  } 
}

.blog-title {
  font-style: normal;
  font-weight: 400;
  font-size: 66px;
  line-height: 100%;

  @media screen and (max-width: 1600px) {
    font-size: 58px;
  } 

  @media screen and (max-width: 1500px) {
    font-size: 52px;
  } 

  @include mq('lg') {
    font-size: 50px;
  }

  @include mq('md') {
    font-size: 40px;
  }

  @include mq('sm') {
    font-size: 30px;
  }
}

.social-networks-list ul li .long {
  width: auto;
  padding: 0 60px;
  display: flex;
  align-items: center;
  gap: 50px;

  @media screen and (max-width: 1600px) {
    gap: 40px;
    padding: 0 50px;
  } 

  @include mq('xl') {
    gap: 30px;
    padding: 0 40px;
  } 

  &:hover > p {
    color: #fff;
  }

  > p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $c-text;

    @include mq('xl') {
      font-size: 18px;
    }

    @include mq('md') {
      font-size: 16px;
    }
  }

  .blog-yt {
    path {
      transition: fill ease 0.2s;
    }
    path:nth-child(1) {
      fill: #ff0000;
    }
    path:nth-child(2) {
      fill: #fff;
    }
  }

  &:hover .blog-yt {
    path:nth-child(1) {
      fill: #fff;
    }
    path:nth-child(2) {
      fill: #ff0000;
    }
  }
}

.blog-yt{
  width: 52px;
  height: 52px;
  svg {
    display: block;
    width: 100%;
  }
  // background-image: svg-load('../../images/svg/youtube-2.svg');
  // background-size:cover;
  // background-position: center;
  // background-repeat: no-repeat;
  
}



.blog-flex-col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mb-blog-title {
  margin-bottom: 66px;

  @include mq('lg') {
    margin-bottom: 55px;
  }

  @include mq('md') {
    margin-bottom: 50px;
  }

  @include mq('sm') {
    margin-bottom: 50px;
  }
}

%font-500-55-100 {
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 100%;
}


%font-500-24-130 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
}

%font-500-22-26 {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

%font-400-20-150 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

%font-400-20-24 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

%font-400-18-22 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

%font-400-18-150 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

%font-400-16-19 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

%font-400-15-18 {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.font-500-24-130 {
  @extend %font-500-24-130;

  @include mq('md') {
    font-size: 20px;
  }
}

.font-400-20-150 {
  @extend %font-400-20-150;

  @include mq('xl') {
    font-size: 18px;
  }

  @include mq('md') {
    font-size: 16px;
  }
}

.font-400-18-150 {
  @extend %font-400-18-150;

  @include mq('md') {
    font-size: 16px;
  }
  @include mq('sm') {
    font-size: 14px;
  }
}

.mb-60-30 {
  margin-bottom: 60px;
  @include mq('lg') {
    margin-bottom: 50px;
  }
  @include mq('md') {
    margin-bottom: 40px;
  }
  @include mq('sm') {
    margin-bottom: 30px;
  }
}

.mb-40-20 {
  margin-bottom: 40px;
  @include mq('lg') {
    margin-bottom: 30px;
  }
  @include mq('md') {
    margin-bottom: 20px;
  }
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.md-mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}


.section-blog-list {
  .project-list {
    width: 100% !important;
    max-width: calc(100vw - 96px) !important;
    @include mq('lg') {
      max-width: calc(100vw - 56px) !important;
    }
    .list {
      flex-wrap: wrap;
      column-gap: 25px;
      row-gap: 60px;
      width: calc(100% + 20px);
      @include mq('sm') {
        flex-direction: column;
        row-gap: 40px;
      }
    }
  }
  .project-list-item {
    width: calc(33.33% - 17px);
    @include mq('lg') {
      width: calc(50% - 13px);
    }
    @include mq('sm') {
      width: 100%;
    }
    &-inner {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .img {
      margin-bottom: 20px;
      img {
        display: block;
        width: 100%;
        height: auto;
        // height: 300px;
        object-fit: cover;
        // @media screen and (max-width: 1550px) {
        //   height: 280px;
        // }
        @include mq('sm') {
          height: auto;
        }
      }
    }
    .text {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      .btn-icon {
        min-width: 300px;
        span {
          justify-content: flex-start;
        }
      }

      .blog-card-title {
        @extend %font-500-22-26;
        margin-bottom: 20px;
        font-size: 20px;
        transition: all ease 0.2s;
        @media screen and (max-width: 1550px) {
          font-size: 18px;
        }
      }

      .blog-card-subtitle {
        @extend %font-400-18-22;
        font-size: 16px;
        margin-bottom: 30px;
        transition: all ease 0.2s;
      }
      .btn-icon {
        span {
          white-space: nowrap;
        }
      }
    }
    &:hover {
      .blog-card-title {
        color: $c-primary
      }
      .blog-card-subtitle {
        color: $c-text
      }

      .btn-icon { 
          color: $c-text;
          span {
            &:before,
            &:after {
                height: 32px;
            }
          }
          i {
            &:before {
                transform: translateX(250%);
            }
            &:after {
                transform: translateX(0);
            }
          }
      }
    }
  }
  .show-more {
      margin-top: 80px;
      @include mq('md') {
          margin-top: 60px;
      }
      @include mq('sm') {
          margin-top: 40px;
      }
  }
}

.blog-single {
  display: grid;
  gap: 80px;
  grid-template-columns: calc(100% - 480px) 400px;
  @media screen and (max-width: 1550px) {
    gap: 50px;
    grid-template-columns: calc(100% - 400px) 350px;
  }
  @include mq('xxl') {
    grid-template-columns: 1fr;
  }

  
}

.wrapper .blog-single {
  @media screen and (max-width: 1200px) and (min-width: 768px) {
    width: 100%;
    // padding-right: 0 !important;
    padding-left: 20px !important;
  }
}

.blog-single-head {
  display: flex;
  justify-content: space-between;
}

.blog-single-head-left {
  display: flex;
  gap: 20px;
  align-items: center;
}

.blog-single-tag {
  @extend %font-400-16-19;
  background-color: #fff;
  padding: 10px 10px 10px 20px;
  min-width: 240px;
  color: $c-text;
  @media screen and (max-width: 1650px) {
    min-width: 126px;
    padding: 10px 15px 10px 10px;
  } 

  @include mq('lg') {
    font-size: 14px;
  }
  &:hover {
    color: $c-primary;
  }

}

.blog-single-date {
  @extend %font-400-16-19;
  color: #343434;
  opacity: 0.7;
}

.blog-single-head-right {
  display: flex;
  justify-content: flex-end;
}

.blog-share-lable {
  @extend %font-400-15-18;

}

.blog-share-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-share-btn {
  background-color: #fff;
  transition: all ease 0.2s;
  svg {
    fill: $c-primary;
    transition: all ease 0.2s;
  }
}

.blog-share {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;

  &:hover {
    .blog-share-btn {
      background-color: $c-primary;
      svg {
        fill: #fff;
      }
    }
  }
}

.blog-owner {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 105px;

  img {
    border-radius: 100px;
    overflow: hidden;
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
}

.blog-owner-lable {
  display: flex;
  flex-direction: column;
  gap: 10px;

  > p {
    &:nth-child(1) {
      @extend %font-400-20-24;
    }

     &:nth-child(2) {
      @extend %font-400-16-19;
      opacity: 0.7;
    }
  }
}



.blog-sales {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 400px;
  padding: 30px;
  min-height: 600px;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  overflow: hidden;
  cursor: pointer;
  @include mq('xl', min) {
    top: 100px;
    position: sticky;
  }
  @media screen and (max-width: 1550px) {
    width: 350px;
  }
  &-title {
    position: relative;
    z-index: 1;
    @extend %font-500-55-100;
    color: $c-primary;
    margin-bottom: 20px;
    @media screen and (max-width: 1550px) {
      font-size: 42px;
    }
  }
  &-subtitle {
    position: relative;
    z-index: 1;
    @extend %font-400-18-150;
    margin-bottom: 30px;
  }
  .buttons {
    position: relative;
    z-index: 1;
    .btn-icon {
      width: 100%;
      span {
        justify-content: start;
      }
    }
  }

  &-deco-1 {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 182px;
    right: -103px;
    z-index: 3;
  }

  &-deco-2 {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 131px;
    left: 24px;
    z-index: 2;
  }
  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:hover {
    .btn-icon { 
      color: $c-text;
      span {
          &:before,
          &:after {
              height: 32px;
          }
      }
      i {
          &:before {
              transform: translateX(250%);
          }
          &:after {
              transform: translateX(0);
          }
      }
    }
  }

}
.blog-content-wrap {
  & > .col-2 {
    @include mq('xl') {
      width: 100%;
    }
  }
}
.blog-content {
  margin-top: 66px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -.015em;

  .video-container {
    height: auto;
    padding-bottom: 0;
    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    .btn-play {
      display: block;
      i {
        margin: auto;
      }
      span {
        display: none;
      }
    }
    &:hover {
      .btn-play {
        i {
            background-color: $c-primary;
            background-image: svg-load('../../images/svg/play.svg', fill=#fff);
        }
      }
    }
  }

  h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.3;
    margin-bottom: 60px;
    max-width: 680px;
    @include mq('md') {
      font-size: 26px;
    }
  }

  h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    margin-top: 80px;
    margin-bottom: 40px;
    @include mq('md') {
      font-size: 24px;
    }
  }

  h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    margin-top: 80px;
    margin-bottom: 20px;
    @include mq('md') {
      font-size: 20px;
    }
  }


  p {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    @include mq('md') {
      font-size: 14px;
    }
  }

  video {
    margin-top: 40px;
    margin-bottom: 80px;
    width: 100%;
    display: block;
  }

  a {
    color: $c-primary;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-decoration: underline;
    display: block;
    margin-bottom: 20px;
    @include mq('md') {
      font-size: 14px;
    }
    &:hover {
      color: $c-text;
    }
  }

  img {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
    display: block;
    max-width: 100%;
  }

  ul {
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    list-style-position: inside;
    @include mq('md') {
      font-size: 14px;
    }

    li::marker {
      color: $c-primary;
      font-size: 25px;
    }

    li + li {
      margin-top: 20px;
    }
  }

  blockquote {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    background-color: #fff;
    padding: 20px;
    border-left: solid 5px $c-primary;
    margin: 20px 0;
    @include mq('md') {
      font-size: 14px;
    }
  }

  .wp-video {
    @include mq('lg') {
      width: 100% !important;
      max-width: 100%;
    }
    @include mq('md') {
      max-width: calc(100vw - 60px);
    }
  }
}

.blog-content-footer {
  margin-top: 80px;
  margin-bottom: 80px;
  @include mq('md') {
      margin-top: 60px;
      margin-bottom: 60px;
  }
  // @include mq('sm') {
  //     margin-top: 40px;
  //     margin-bottom: 40px;
  // }
}

.blog-social {
  margin-bottom: 100px;
  @include mq('lg') {
    margin-bottom: 80px;
  }
  @include mq('md') {
    margin-bottom: 70px;
  }
  @include mq('sm') {
    margin-bottom: 60px;
    padding: 40px;
  }

  padding: 50px;
  background-color: $c-text;
  // background-image: url("../images/blog/blog-4.webp");

  p {
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 36px;
    @include mq('sm') {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }

  .social-networks-list {
    ul {
      flex-wrap: wrap;
      gap: 20px;
    }
    li {
      background-color: #fff;
      margin: 0;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
        @include mq('sm') {
          width: 56px;
          height: 56px;
        }
        svg {
          fill: $c-text;
          > path:nth-child(2) {
            fill: #fff;
          }
        }
        &:hover {
          background-color: $c-primary;
          svg {
            fill: #fff;
            > path:nth-child(1) {
              fill: #fff;
            }
            > path:nth-child(2) {
              fill: $c-primary;
            }
          }
        }
      }
      
    }
  }
}

.blog-yt-mobile .btn-icon span {
  width: fit-content;
}

.blog-yt-mobile .btn-icon i.icon-arrow-right:before, .blog-yt-mobile .btn-icon i.icon-arrow-right:after {
  background-image: url(../images/blog/yt-mobile.svg);
}

.page-blog-single .similar-projects {
  .col-2 {
    @include mq('xl') {
      display: none;
    }
  }
  .col-10 {
    @include mq('xl') {
      width: 100%;
      padding: 0 20px !important;
    }
  }
  .project-list {
    .list {
      .project-list-item {
        .img {
          img {
            // height: 240px;
          }
        }
        .blog-card-subtitle {
          margin-bottom: 0;
        }
        .blog-hide-sm {
          display: none;
        }
      }
    }
  }
}