.page-catalog {
  .nwrapper {
    @media (max-width: 1100px) {
      flex-direction: column;

      .ncol-2 {
        width: 100%;
        margin-bottom: 100px;
        padding-right: 0px;
        h3 {
          display: none;
        }
        .section-title {
          display: block;
          margin-bottom: 40px;
          margin-top: 30px;
        }
        .bread-crumbs {
          display: block;
        }
        .product-types {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 10px;
          row-gap: 30px;
          grid-template-rows: auto;
          .product-type {
            &::after {
              background: none;
            }
          }
        }
      }
    }
    @media (max-width: 650px) {
      .ncol-2 {
        .product-types {
          grid-template-columns: 1fr;
        }
      }
    }
    .ncol-2 {
      padding-left: 50px;
      padding-right: 50px;
      .section-title {
        display: none;
        margin-bottom: 40px;
      }
      h3 {
        font-family: "PT Root UI";
        font-size: calc(15px + (22 - 15) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 700;
        line-height: 27.72px;
        text-align: left;
        margin-bottom: 60px;
        margin-top: 90px;
        &:hover {
          color: $button-background;
        }
      }
      .bread-crumbs {
        display: none;
      }
    }

    .ncol-10 {
      @media (max-width: 1100px) {
        width: 100%;

        .bread-crumbs {
          display: none;
        }
        .section-title {
          display: none;
        }
      }
      .section-title {
        margin-bottom: 40px;
        margin-top: -10px;
      }
      .production-line {
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 40px;
        margin-bottom: 40px;
        .product {
          img {
            width: 320px;
            height: 320px;
            margin-bottom: 20px;

            @media only screen and (max-width: 1450px) {
              width: 250px;
              height: 250px;
            }
          }

          .title {
            font-family: "PT Root UI";
            font-size: 22px;
            font-weight: 700;
            line-height: 26.4px;
            text-align: left;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
